<%= form_for @post do |form| %>
  <ul class="nav navbar-nav">
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this archive from being saved:</h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.label :title %>
  <%= form.text_field :title, size: 77 %>
  </br>
  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, ["Draft", "Published", "Scheduled"],
      selected: status_for(@post) %>
  </div>
  <div class="field published-field">
    <%= form.label :published_at, "Publish At" %><br>
    <%= form.datetime_select :published_at %>
  </div>
  <%= form.submit %>
<% end %>

<br>
<br>
<%= link_to 'Back', 'javascript:history.go(-1);' %>
