<div class="row pull-right">
<%= search_form_for @q, html: {class: "form-inline navbar-left" } do |f| %>
  <%= f.search_field :text_or_title_cont, placeholder: "Search posts", class: "form-control vertical-align: middle", style: "top-padding: 10px; margin-left: 10px"%>
<%= f.submit "Search", class: "btn btn-primary", style: "top-padding: 10px; margin-left: 10px" %>
<% end %>
</div>

<% @posts.each do |post| %>
<!--/stories-->
<div class="row">
  <br>
  <div class="col-md-2 col-sm-3 text-center">
    <a class="story-img" href="#"><img src="//placehold.it/100" style="width:100px;height:100px" class="img-circle"></a>
  </div>
  <div class="col-md-10 col-sm-9">
  <h3><%= post.title %></h3>
    <div class="row">
      <div class="col-xs-9">
        <p><%= sanitize post.text[0..400] %> ....</p>
          <%= link_to "Read More", post_path(post), class: "btn btn-default" %>
        <ul class="list-inline">
          <li><%= "Published at #{post.published_at}" %></li>
          <li><a href="#"><i class="glyphicon glyphicon-comment"></i><%= post.comments.count %> Comments</a></li>
        </ul>
      </div>
      <div class="col-xs-3"></div>
    </div>
    <br><br>
  </div>
</div>

<% end %>
