<!DOCTYPE html>
<html lang="en">

<head>
<%# bootstrap template %>
<%# http://www.bootply.com/render/101499 %>
<%# http://www.bootstrapzero.com/bootstrap-template/blog %>

<%# sidebar template %>
<%# http://www.codeply.com/go/bp/mL7j0aOINa %>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<meta charset="utf-8">
<meta name="description" content="">
<meta name="author" content="">

<title>James' Blog</title>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body>

<%= render "shared/navbar" %>
<div id="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>James' Blog</h1>
          <p class="lead">Busting my Coding Chops</p>
        </h1>
      </div>
    </div>
  </div><!-- /cont -->

</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body">

          <%= yield %>

        </div>
      </div>
    </div><!--/col-12-->
  </div>
</div>

<%= render "shared/footer" %>
