<!DOCTYPE html>
<html lang="en">

<head>
<%# bootstrap template %>
<%# http://www.bootply.com/render/101499 %>
<%# http://www.bootstrapzero.com/bootstrap-template/blog %>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<meta charset="utf-8">
<meta name="description" content="">
<meta name="author" content="">

<title>James' Blog</title>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>  
</head>
<body>

<%= render "shared/navbar" %>

<div class="container-fluid">
<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Coding Blog
          <p class="lead">A layman's journey into coding.</p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg"> 
          <div class="row">
            <div class="col-sm-12">
              Search Field
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12"> 
          <%= yield %>
          <a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a>
    </div><!--/col-12-->
  </div>
</div>
</div><!--container-fluid-->
</body>
<hr>

<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">

      <h1>Follow Me</h1>
      <div class="btn-group">
        <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
        <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
        <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
      </div>

    </div>
  </div>
</div>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>

      </div>
      <div class="col-sm-6">
      </div>
    </div>
  </div>
</footer>
</html>
